@import "tailwindcss";

#root {
  max-width: 100vw;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* override prime react css */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: #61dafbaa 2px solid;
  padding: 0.2ems;
}

th,
td {
  border: #61dafbaa 1px solid;
  padding: 0.5em;
}

.p-radiobutton-icon {
  color: red !important;
}

.p-editable-column {
  text-align: center;
}

.p-column-header-content {
  text-align: center;
  padding: 0 0.1em 0 0.1em;
}

.p-toolbar {
  background: none;
  padding: 1px;
  border: none;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active {
  /* background: #363637; */
  color: #2196f3;
}

.chip-input-field {
  border: none;
  /* No border */
  outline: none;
  /* No outline */
  background: transparent;
  /* Transparent background to match the wrapper */
  width: fit-content;
  min-width: 200px;
  margin-top: 5px;
  /* Small gap for better visual separation */
  padding: 5px 8px;
  font-size: 14px;
}

.chip-input-field:focus {
  box-shadow: none;
  /* No shadow on focus */
  border: none;
  /* Ensure no border on focus */
}

.chip-input-field::placeholder {
  color: #999;
}