all:
  hosts:
    localhost:
      ansible_connection: local

    bastion:
      ansible_host: 54.169.204.78     # e.g., 13.55.x.x
      ansible_user: ubuntu     # e.g., ubuntu
      ansible_ssh_private_key_file: {{key-file-path}}
